
<style>

.card {
  position: static !important;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

</style>
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid" >
        <a class="navbar-brand" style="color: aliceblue !important" href="#">Tercer Parcial - Socket io & Angular</a>
    </div>
  </nav>
  
  <style>
  .custom-card {
    background-image: url('https://img.freepik.com/fotos-premium/tiza-sobre-fondo-pizarra-verde-textura-pizarra-pizarra-blanco-espacio-copia_104677-591.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  </style>
  
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-12">
        <div class="card">
          <img style="width: 100%; height: 300px;" src="https://static.vecteezy.com/system/resources/previews/002/294/192/non_2x/online-class-web-banner-design-free-vector.jpg" class="card-img-top" alt="...">
          <div class="card-body text-left">
            <div class="row">
                <div class="col-md-4">
                    <div class="" style="text-align: left !important;">
                       
            
                            <!-- <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">NOMBRE DE LA SALA:</label>
                              <input class="form-control" type="text" id="room" [(ngModel)]="room" placeholder="Ingrese el nombre de la sala" />
                            </div>
                   
                            <button class="btn btn-primary w-40 m-1" (click)="joinRoom()">Unirse</button> 
                            <button class="btn btn-warning w-40 m-1" (click)="leaveRoom()">Abandonar</button> -->
                        
                    </div>
                </div>
                  
                <div class="col-md-8" style="text-align: left !important;">
                    <h5 class="card-title text-left">Clase Online</h5>
                    <h4 class="card-title text-left">Sala: <span class="text-primary"></span></h4>
                    <p class="card-text">En este entorno virtual, exploraremos nuevas formas de interactuar y aprender. Aprovecharemos las herramientas digitales y las plataformas en línea para facilitar la comunicación, compartir recursos y trabajar en colaboración. Aunque los desafíos pueden ser diferentes, nuestra pasión por el conocimiento y el compromiso con el éxito académico siguen siendo los mismos.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  
    <div class="row">
      <!-- <div class="col-1"></div> -->
   
      <div class="col-12">
        <div class="card custom-cardss">
          <div class="card-body">
            <div class="draw">
              

                    <div class="container">
                        <h3>PIZARRA INTERACTIVA</h3>
                      
                        <!-- <canvas #canvas width="800" height="400" style="border: 4px solid rgb(60, 142, 177);" (mousedown)="startDrawing($event)" (mousemove)="draw($event)"
                        (mouseup)="endDrawing()" ></canvas> -->
                        <div class="canvas-container">
                          <canvas #canvaspizarra width="800" height="400" style="border: 4px solid rgb(60, 142, 177);" (mousedown)="startDrawing($event)" (mousemove)="draw($event)" (mouseup)="endDrawing()"></canvas>
                        </div>

                        <br>
                        <!-- <button class="btn btn-primary" (click)="clearCanvas()">Limpiar</button> -->
                    </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  

<!-- <router-outlet></router-outlet> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

